<!DOCTYPE html>
<html>
<head>
    @Html.Partial("HeadPartial")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            @Html.Partial("PartialLogoAndNavbarHeader")
            <div class="collapse navbar-collapse">
                @Html.Partial("PartialMenu")
            </div><!--/.nav-collapse -->

        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("BottomPartial")

    @RenderSection("scripts", required: false)
</body>
</html>
