@{
    Layout = null;
}

@using System.Threading.Tasks
@using Core
@using Core.BitcoinNinja
@model BitcoinChainExplorerForAspNet5.Models.TransactionViewModel
<ul class="list-group">

    <li class="list-group-item clearfix intput-output-group-list-item">
        <div class="intput-output-group">
            <div class="icon dspl-icon">
                <span class="currency-icon thumbnail">
                    <span class="bg-warning">
                        <i class="fa fa-btc"></i>
                    </span>
                </span>
            </div>
            <div class="inputs">
                @if (Model.Transaction.IsCoinBase)
                {
                    <div class="address-item ">
                        <div class="amount">
                           
                        </div>
                        <div class="address">
                           <b>Mined coins</b>
                        </div>
                    </div>
                }
                else
                {

                    foreach (var input in Model.Transaction.DeserializeInputs.Where(input => input.AssetId == null))
                    {
                        <div class="address-item ">
                             <div class="amount">
                                 - @BitcoinUtils.SatoshiToBtc(input.Value)
                             </div>
                             <div class="address">
                                 <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                 @if (input.Address == null)
                                 {
                                     <span>Unrecognized address</span>
                                 }
                                 else
                                 {
                                    <a asp-action="index" asp-controller="address" asp-route-id="@input.Address">@input.Address</a>
                                 }
                             </div>
                         </div>
                     }
                }
                
            </div>

            <div class="outputs">
                <div class="outputs-container">
                    <div class="center-chevron">
                        <img src="~/images/arrow.png" />
                    </div>

                    @foreach (var output in Model.Transaction.DeserializeOutputs.Where(output => output.AssetId == null))
                    {
                        <div class="address-item ">
                            <div class="amount">
                                @BitcoinUtils.SatoshiToBtc(output.Value)
                            </div>
                            <div class="address">
                                @if (output.Address == null)
                                {
                                    <span>Unrecognized address</span>
                                }
                                else
                                {
                                    <a asp-action="index" asp-controller="address" asp-route-id="@output.Address">@output.Address</a>
                                }
                            </div>
                        </div>
                    }
                    <div class="address-item div-fees">
                        <div class="amount">
                            @BitcoinUtils.SatoshiToBtc(Model.Transaction.Fees)
                        </div>
                        <div class="address">
                            Fees
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </li>
    @if (Model.Transaction.IsColor)
    {
        foreach (var assetDataItm in Model.Transaction.Asset)
        {
            <li class="list-group-item clearfix intput-output-group-list-item assetBlock">
                <div class="assetid">@assetDataItm.Key</div>
                <div class="intput-output-group">
                    <div class="icon dspl-icon">
                        <span class="currency-icon thumbnail">
                            <span class="bg-warning">
                                <i class="fa fa-btc"></i>
                            </span>
                        </span>
                    </div>
                    <div class="inputs">
                        @if (assetDataItm.Value.AssetDataInput.Any())
                        {
                            foreach (var input in assetDataItm.Value.AssetDataInput)
                            {
                                <div class="address-item ">
                                    <div class="amount">
                                        @{
                                            var l = assetDataItm.Value.AssetDataOutput.Where(itm => itm.AssetId == input.AssetId).Select(itm => itm.Quantity - input.Quantity);
                                            var def = l.ToArray()[0];
                                            if (def != 0)
                                            {
                                                Write(def.ToString("N0"));
                                            }
                                            else
                                            {
                                                Write(" - " + input.Quantity.ToString("N0"));
                                            }

                                        }                                   
                                    </div>
                                    <div class="address">
                                        <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                        @if (input.Address == null)
                                        {
                                            <span>Unrecognized address</span>
                                        }
                                        else
                                        {
                                            <a asp-action="index" asp-controller="address" asp-route-id="@input.Address">@input.Address</a>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="address-item ">
                                <div class="amount">

                                </div>
                                <div class="address">
                                        <b>Issued assets</b>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="outputs">
                        <div class="outputs-container">
                            <div class="center-chevron">
                                <img src="~/images/arrow.png" />
                            </div>

                            @foreach (var output in assetDataItm.Value.AssetDataOutput.Where(output => !assetDataItm.Value.AssetDataInput.Any()  || assetDataItm.Value.AssetDataInput.Any(itm => itm.Address != output.Address)))
                            {
                                <div class="address-item ">
                                    <div class="amount">
                                        @output.Quantity.ToString("N0")
                                    </div>
                                    <div class="address">
                                        @if (output.Address == null)
                                        {
                                            <span>Unrecognized address</span>
                                        }
                                        else
                                        {
                                            <a asp-action="index" asp-controller="address" asp-route-id="@output.Address">@output.Address</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </li>
        }

    }


</ul>