<!DOCTYPE html>
<html>
<head>
    @Html.Partial("HeadPartial")
</head>
<body>
    <div class="navbar navbar-inverse " role="navigation">
        <div class="container">
            @Html.Partial("PartialLogoAndNavbarHeader")
            <div class="collapse navbar-collapse">
                @Html.Partial("PartialMenu")
            </div><!--/.nav-collapse -->

        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer" style="position: absolute">
        <div class="container">
            <div class="copyr">© Lykke @DateTime.Now.Year - Blockchain Explorer v@(Product.Version)</div>
            <div class="pull-right f-social">
                <a href=""><img src="~/Content/images/fb.png" /></a>
                <a href=""><img src="~/Content/images/tw.png" /></a>
            </div>
        </div>
    </footer>
    @Html.Partial("BottomPartial")

    @RenderSection("scripts", required: false)
</body>
</html>